<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Exportar CSV"
                         icon="pi pi-upload" class="p-button-help"
                         (click)="dt.exportCSV()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','description','category','price', 'quantity']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} de {last} do {totalRecords} registros" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Cadastro de Produtos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Procurar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Metodo de pagamento<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Data Recebimento<p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="category">Tipo de fatura <p-sortIcon field="category"></p-sortIcon></th>
                        <th pSortableColumn="rating">Obs <p-sortIcon field="rating"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">pagamento</span>
                            {{item.pagamento }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">data recebimento</span>
                            {{item.recebimento | date : 'dd/MM/yyyy' }}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">fatura</span>
                            {{item.fatura}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">obs</span>
                            {{item.obs}}
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(item)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(item)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="itemDialog" [style]="{width: '450px'}" header="Contas a Pagar" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="form" (ngSubmit)="onSaveForm()">
                <div class="field">
                    <label for="name">tipo de pagamento</label>
                    <input type="text" formControlName="pagamento" placeholder="Digite tipo pagamento" pInputText id="name" required autofocus/>
                    <small *ngIf="!this.form.get('pagamento')?.valid && (this.form.get('pagamento')?.dirty || this.form.get('pagamento')?.touched)" class="ng-dirty ng-invalid">
                        O campo pagamento é obrigatório.
                    </small>
                </div>
                <div class="field">
                    <label for="description">Data de Recebimento</label>
                    <input type="date" formControlName="recebimento" pInputText id="name" required autofocus/>
                    <small *ngIf="!this.form.get('recebimento')?.valid && (this.form.get('recebimento')?.dirty || this.form.get('recebimento')?.touched)" class="ng-dirty ng-invalid">
                        O campo Recebimento é obrigatório.
                    </small>
                </div>
                <div class="field">
                    <label for="name">tipo de fatura</label>
                    <input type="text" formControlName="fatura" placeholder="Digite a fatura" pInputText id="name" required autofocus/>
                    <small *ngIf="!this.form.get('fatura')?.valid && (this.form.get('fatura')?.dirty || this.form.get('fatura')?.touched)" class="ng-dirty ng-invalid">
                        A fatura é obrigatoria.
                    </small>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="quantity">Obs</label>
                        <input type="text" formControlName="obs" placeholder="Digite a Observação" pInputText id="name" required autofocus/>
                        <small *ngIf="!this.form.get('Obs')?.valid && (this.form.get('Obs')?.dirty || this.form.get('Obs')?.touched)" class="ng-dirty ng-invalid">
                            O campo Obs é obrigatório.
                        </small>
                    </div>
                </div>
                </form>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="onSaveForm()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteItemDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="item">Você realmente deseja deletar?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Não" (click)="deleteItemDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim" (click)="confirmDeleteProduct()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
